<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>manager_user_nguyenanhtuan/</display-name>
  <filter>
    <filter-name>Login Filter</filter-name>
    <filter-class>manageruser.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Login Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
        C:\Users\ETUK\eclipse-workspace\manager_user_nguyenanhtuan\WebContent\images
      </param-value>
  </context-param>
  <servlet>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>manageruser.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ListUserController</display-name>
    <servlet-name>ListUserController</servlet-name>
    <servlet-class>manageruser.controller.ListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserController</servlet-name>
    <url-pattern>/ListUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>manageruser.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>manageruser.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TopController</display-name>
    <servlet-name>TopController</servlet-name>
    <servlet-class>manageruser.controller.TopController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopController</servlet-name>
    <url-pattern>/TopController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ValidateRegController</display-name>
    <servlet-name>ValidateRegController</servlet-name>
    <servlet-class>manageruser.controller.ValidateRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateRegController</servlet-name>
    <url-pattern>/ValidateRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InsertController</display-name>
    <servlet-name>InsertController</servlet-name>
    <servlet-class>manageruser.controller.InsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertController</servlet-name>
    <url-pattern>/InsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DetailController</display-name>
    <servlet-name>DetailController</servlet-name>
    <servlet-class>manageruser.controller.DetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailController</servlet-name>
    <url-pattern>/DetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditController</servlet-name>
    <servlet-class>manageruser.controller.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditController</servlet-name>
    <url-pattern>/EditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitEditController</servlet-name>
    <servlet-class>manageruser.controller.SubmitEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitEditController</servlet-name>
    <url-pattern>/SubmitEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>manageruser.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ImageController</servlet-name>
    <servlet-class>manageruser.controller.ImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageController</servlet-name>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>
</web-app>